[submodule "modules/puppet-elasticsearch-package-repos"]
	path = modules/puppet-elasticsearch-package-repos
	url = https://github.com/kurtado/puppet-elasticsearch-package-repos
[submodule "modules/kibana3"]
	path = modules/kibana3
	url = https://github.com/kurtado/puppet-kibana3.git
